html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;

  .row {
    display: contents;

    .cell {
      grid-column: span 1;
      border-bottom: 1px solid #ccc;
    }
  }
}
